.login-footer {
    padding: 0 40px;
}

.wishlists .wishlist {
    margin-bottom: 10px;
}

.wishlists .wishlist h2 {
    text-align: center;
    text-transform: uppercase;
    font: 700 14px/21px "Open Sans", sans-serif;
    color: #474747;
    padding-top: 5px;
    display: block;
    clear: both;
}