body {
    padding-bottom: 50px;
}

header {
    background: url('../img/header.jpg') center center;
    background-size: cover;
    height: 200px;
}

header .menu {
    margin-top: 20px;
}

header .desktop-menu a {
    color: white;
    font-weight: bold;
}

header .menu .dropdown-toggle:hover,
header .menu .dropdown-toggle:focus {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

header .menu.nav > li > a:focus,
header .menu.nav > li > a:hover {
    background: rgba(0, 0, 0, 0.5);
}

header .dropdown-toggle {
    color: #fff;
    font-weight: bold;
}

header .logo {
    display: block;
    margin-top: 23px;
    margin-left: 5px;
}

#map {
    height: 400px;
}

.stock-product{
    margin-bottom: 15px;
}

.stock-product .meta {
    height: 80px;
}