<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Envío a domicilio</h1>
        </div>
    </div>
    <div class="col-sm-6">
        <div id="map"></div>
    </div>
    <div class="col-sm-6">
        <p>Solicitaste el envio a domicilio de tu lista de compras "Asado del domingo"</p>
        <p>Distancia hasta tu domicilio: <span id="distance"></span></p>
        <p>Tu pedido llegará en una hora. ¿Estás seguro? <button class="btn btn-success">Si</button> <button class="btn btn-danger">No</button></p>
    </div>
</div>