<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Listas de compras</h1>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6" ng-repeat="wishlist in wishlists">
        <div class="thumbnail">
            <img ng-src="{{ wishlist.products[0].image }}?v={{ $index }}" alt="">
            <div class="caption">
                <h4>{{ wishlist.name }}</h4>
                <p><a href="#!/users/1/wishlists/{{ wishlist.id }}" class="btn btn-block btn-primary"
                      role="button">Ver</a></p>
            </div>
        </div>
    </div>
</div>