<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{ wishlist.name }}</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 wishlist-buttons">
        <a ng-if="on_cart() == wishlist.products.length" href="/#!/users/1/wishlists/1/delivery" class="btn btn-primary pull-left">Quiero que me lo envien a
            domicilio!</a>
        <a ng-if="on_cart() == wishlist.products.length" id="request-box" class="btn btn-success pull-left" href="">Solicitar Caja</a>
        <p class="on-cart pull-right">En carrito (<span>{{ on_cart() }}</span>)</p>
    </div>
    <div class="col-md-4 product" ng-repeat="product in wishlist.products" ng-if="! product.on_cart" >
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img ng-src="{{ product.image }}">
                </div>
            </div>
            <div class="col-md-8">
                <div class="meta ng-binding">
                    <strong>Nombre:</strong> {{ product.name }}<br>
                    <strong>Marca:</strong> {{ product.brand }} <br>
                    <strong>Cantidad:</strong> {{ product.quantity }} <br>
                    <button class="add-to-cart btn btn-sm btn-default"
                            ng-click="addToCart(product.id)">Agregar al carrito
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>