<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{ wishlist.name }}</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 product" ng-repeat="product in wishlist.products">
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <img ng-src="{{ product.image }}">
                </div>
            </div>
            <div class="col-md-8">
                <div class="meta ng-binding">
                    <strong>Nombre:</strong> {{ product.name }}<br>
                    <strong>Marca:</strong> {{ product.brand }} <br>
                    <strong>Cantidad:</strong> {{ product.quantity }}
                </div>
            </div>
        </div>
    </div>
</div>