<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Nueva lista de compras</h1>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Nombre:</label>
            <input type="text" class="form-control" placeholder="Nombre...">
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 stock-product" ng-repeat="product in selectedProducts">
                <div class="thumbnail">
                    <img ng-src="{{ product.image }}" alt="">
                </div>
                <div class="meta">
                    <strong>Nombre:</strong> {{ product.name }} <br>
                    <strong>Marca:</strong> {{ product.brand }} <br>
                </div>
                <div class="input-group">
                    <input class="form-control" placeholder="Cantidad" value="{{ product.amount }}">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="addProductToSelectedOnes(product.id)"><i
                                class="fa fa-trash" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <p ng-show="selectedProducts.length == 0">Aún no hay productos seleccionados</p>
        <hr>
        <button class="btn-primary btn">Guardar</button>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="">Buscar:</label>
            <input type="text" class="form-control" placeholder="" ng-model="search">
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 stock-product" ng-repeat="product in stock | filter:search">
                <div class="thumbnail">
                    <img ng-src="{{ product.image }}" alt="">
                </div>
                <div class="meta">
                    <strong>Nombre:</strong> {{ product.name }} <br>
                    <strong>Marca:</strong> {{ product.brand }} <br> <br>
                </div>
                <div class="input-group">
                    <input class="form-control" placeholder="Cantidad">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="addProductToSelectedOnes(product.id)"><i
                                class="fa fa-plus" aria-hidden="true"></i></button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>